PTZControl/.vs
PTZControl/Release/
PTZControl/Debug/
PTZControl/Save/
PTZControl/x64/
PTZControl/PTZControl.vcxproj.filters
PTZControl/PTZControl.vcxproj.user
PTZControl/PTZControlDEU.docx
PTZControl/PTZControl.exe
PTZControl/PTZControl.aps
*.docx
*.bak
/PTZControl/PTZControl/Release
/PTZControl/PTZControl/x64
/PTZControl/PTZControl/Debug
